html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: rgb(255, 126, 5);
}

@font-face {
  font-family: "bradhitc";
  src: url("../font/bradhitc.ttf") format("truetype");
}

:root {
  --main-color-red: #e90909;
  --menu-color: #e90909;
  --height-header: 100vh;
  --font-general: "bradhitc";
  --font-size-title-header-mobile: 4rem;
  --font-size-title-header-tablet: 5rem;
  --font-size-title-header-desktop: 8rem;
  --font-size-text-header-mobile: 1.5rem;
  --font-size-text-header-desktop: 2.5rem;
  --width-logo-menu-mobile: 5rem;
  --width-logo-header-mobile: 70%;
  --width-logo-header-descktop: 40%;
  --paddin-and-margin-for-sections: 6rem;
  --n1: 0%;
  --n2: 5%;
  --n3: 15%;
  --n4: 25%;
  --n5: 45%;
  --n6: 50%;
  --n7: 0;
  --egg: none;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: var(--main-color-red); */
}

.info-box {
  display: flex;
  flex-direction: column;
}
/**********************************Menu********************/
.menu {
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;

  background-color: var(--menu-color);
  border-top: 0.5px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.menu__box-logo-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu__logo {
  align-self: flex-start;
  margin: auto;
  width: 5rem;
  height: 100%;
  margin-left: 0;
}

.menu__logo img {
  width: 100%;
  height: auto;
}

.icon {
  height: 100%;
}

.menu__ul {
  width: 100%;
  height: 100vh;
  animation: grow 1s;
}

.menu__li {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu__link {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem 0;
  width: 100%;
  display: block;
  border: 1px solid black;
  color: white;
}

.menu-visible {
  display: block;
  opacity: 0.8;
}

.menu-hidden {
  display: none;
}

/************************Header - Sections*******************/
.header,
.section__verano,
.section__devscola,
.section__doneBy {
  height: var(--height-header);
}

.header,
.section__howToUse,
.section__devscola {
  padding-top: var(--paddin-and-margin-for-sections);
}

/*****************************Header************************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--height-header);

  font-family: var(--font-general);
  background-color: var(--main-color-red);
}

.header__title {
  margin-top: 2rem;
  font-size: var(--font-size-title-header-mobile);
}

.header__image-box {
  margin-top: 1rem;
  width: var(--width-logo-header-mobile);
  height: auto;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__text {
  font-size: var(--font-size-text-header-mobile);
}

/**********************************Section********************/
.section-box {
  padding: 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__text {
  margin-top: 1rem;
}

.section__verano {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__howToUse-img__items {
  width: 100%;
  height: auto;
}

.section__howToUse-text {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.section__howToUse-img__items img {
  width: 100%;
  height: auto;
}

.section__devscola {
  height: 100%;
  margin-top: 5rem;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.34217436974789917) 100%, rgba(0, 212, 255, 1) 100%), url(../img/cova2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
}

.section__devscola .section__title,
.section__devscola .section__text {
  color: white;
}

.section__devscola .section-box {
  padding-bottom: 6rem;
}
.section__doneBy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__master,
.section__master-title {
  text-align: center;
}

.padawans,
.curro {
  margin-top: 1rem;
  text-align: center;
}

.padawans .section__text {
  margin-top: 0;
}

.egg {
  width: 30%;
  clip-path: circle(25%);
  position: absolute;
  display: var(--egg);
}

.egg img {
  width: 100%;
  height: auto;
}

.egg {
  overflow: hidden;
  animation-duration: 12s;
  animation-name: movesquare;
  animation-timing-function: linear;
}

@keyframes movesquare {
  0% {
    margin: var(--n1);
  }
  10% {
    margin: var(--n2);
  }
  25% {
    margin: var(--n3);
  }
  50% {
    margin: var(--n4);
  }
  75% {
    margin: var(--n5);
  }
  87.5% {
    margin: var(--n6);
  }
  100% {
    margin: var(--n7);
    transform: rotateZ(1800deg);
  }
}

/*****************************************media querie 500***********************************/
@media (min-width: 500px) {
  .header__title {
    margin-top: 2rem;
    font-size: var(--font-size-title-header-tablet);
  }
}

/*****************************************media querie 768***********************************/
@media (min-width: 768px) {
  /*******************************main-box********************/
  .main-box {
    display: flex;
    flex-direction: row;
  }

  /****************Menu********************/
  .menu {
    display: flex;
    flex-direction: columnç;
    position: sticky;
    width: 10%;
    height: 100vh;

    border-top: unset;
    border-bottom: unset;
    box-shadow: unset;
  }

  .menu__box-logo-icon {
    display: none;
  }

  .menu__ul {
    width: 100%;
    height: 100vh;
    animation: unset;
    border: 1px solid black;
  }

  .menu__li {
    background-color: var(--menu-color);
  }

  .menu__link {
    color: black;
    border-right: unset;
    border-left: unset;
    border-top: unset;
  }

  .menu-hidden {
    display: block;
  }
  /*******************************info box********************/
  .info-box {
    width: 90%;
  }

  /************************Header - Sections*******************/
  .header,
  .section__verano,
  .section__howToUse,
  .section__devscola,
  .section__doneBy {
    padding-top: unset;
    height: var(--height-header);
  }

  /*****************Header********************/

  .header__title {
    margin-top: unset;
    font-size: var(--font-size-title-header-desktop);
  }

  .header__image-box {
    margin-top: unset;
    width: var(--width-logo-header-descktop);
    height: auto;
  }

  .header__text {
    font-size: var(--font-size-text-header-desktop);
  }
  /*****************Sections********************/
  .section-box {
    padding: 0 5rem;
  }

  .section__title,
  .section__subtitle {
    font-size: 3rem;
  }

  .section__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .section__howToUse-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .section__howToUse-img__items {
    width: 25%;
    height: auto;
  }

  .section__howToUse-text {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }

  .section__howToUse-img__items img {
    width: 100%;
    height: auto;
  }

  .section__devscola {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__master {
    font-size: 1.5rem;
  }
}
