html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "bradhitc";
  src: url("../font/bradhitc.ttf") format("truetype");
}

:root {
  --main-color-red: #e90909;
  --menu-color: #e90909;
  --height-sections: 100vh;
  --font-general: "bradhitc";
  --font-size-title-header-mobile: 4rem;
  --font-size-title-header-tablet: 5rem;
  --font-size-text-header-mobile: 1.5rem;
  --width-logo-menu-mobile: 5rem;
  --width-logo-header-mobile: 70%;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-red);
}

/**********************************Menu********************/
.menu {
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  position: sticky;
  top: 0;

  background-color: var(--menu-color);
  border-top: 0.5px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.menu__box-logo-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu__logo {
  align-self: flex-start;
  margin: auto;
  width: 5rem;
  height: 100%;
  margin-left: 0;
}

.menu__logo img {
  width: 100%;
  height: auto;
}

.icon {
  height: 100%;
}

.menu__ul {
  width: 100%;
  background-color: chartreuse;
  height: 100vh;
  animation: grow 1s;
}

.menu__li {
  width: 100%;
  text-align: center;
}

.menu__link {
  padding: 2rem 0;
  width: 100%;
  display: block;
  border: 1px solid black;
}

.menu-visible {
  display: block;
  opacity: 0.8;
}

.menu-hidden {
  display: none;
}

/**********************************Header********************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--height-sections);

  font-family: var(--font-general);
}

.header__title {
  margin-top: 2rem;
  background-color: yellow;
  font-size: var(--font-size-title-header-mobile);
}

.header__image-box {
  margin-top: 1rem;
  width: var(--width-logo-header-mobile);
  height: auto;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__text {
  font-size: var(--font-size-text-header-mobile);
}

/**********************************Section********************/

.section__verano {
  background-color: snow;
  height: var(--height-sections);
}

.section__howToUse {
  background-color: tomato;
  height: var(--height-sections);
}

.section__devscola {
  background-color: violet;
  height: var(--height-sections);
}

.section__doneBy {
  background-color: blue;
  height: var(--height-sections);
}

/*****************************************media querie 500***********************************/
@media (min-width: 500px) {
  .header__title {
    margin-top: 2rem;
    background-color: yellow;
    font-size: var(--font-size-title-header-tablet);
  }
}

/*****************************************media querie 768***********************************/
@media (min-width: 768px) {
  .main-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .info-box {
    width: 100%;
  }
  /**********************************Header********************/

  .header {
    width: 100%;
    height: 100vh;
  }

  /**********************************Menu********************/

  .menu__box-logo-icon {
    display: none;
  }

  .menu__ul {
    width: 100%;
    height: var(--height-sections);
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--menu-color);
    animation: none;
  }

  .menu-hidden {
    display: block;
  }

  .menu__link:focus,
  .menu a:focus,
  .menu__link:hover {
    background-color: yellow;
  }
}
